# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# add by jz
/.vs/

/build/
/lib/
/pdb/

.vscode
src/
lib/
bin/
thirdlib/boost_1_74_0/include/boost/*
thirdlib/yaml-cpp-0.6.3/include
thirdlib/zlib-1.2.11/include
